{'__deepcopy__': {},
 '__getstate__': {},
 '_ipython_canary_method_should_not_exist_': {'__deepcopy__': {},
                                              '__getstate__': {}},
 'autofeaturizer_kwargs': {'n_jobs': 10, 'preset': 'debug'},
 'best_pipeline': 'RandomForestRegressor(bootstrap=true, criterion=mse, '
                  'max_depth=null,\n'
                  '           max_features=auto, max_leaf_nodes=null,\n'
                  '           min_impurity_decrease=0.0, '
                  'min_impurity_split=null,\n'
                  '           min_samples_leaf=1, min_samples_split=2,\n'
                  '           min_weight_fraction_leaf=0.0, n_estimators=500, '
                  'n_jobs=null,\n'
                  '           oob_score=false, random_state=null, verbose=0, '
                  'warm_start=false)',
 'cleaner_kwargs': {'feature_na_method': 'mean',
                    'max_na_frac': 0.01,
                    'na_method_fit': 'drop',
                    'na_method_transform': 'mean'},
 'features_all': ['MagpieData minimum Number',
                  'MagpieData maximum Number',
                  'MagpieData range Number',
                  'MagpieData mean Number',
                  'MagpieData avg_dev Number',
                  'MagpieData mode Number',
                  'MagpieData minimum MendeleevNumber',
                  'MagpieData maximum MendeleevNumber',
                  'MagpieData range MendeleevNumber',
                  'MagpieData mean MendeleevNumber',
                  'MagpieData avg_dev MendeleevNumber',
                  'MagpieData mode MendeleevNumber',
                  'MagpieData minimum AtomicWeight',
                  'MagpieData maximum AtomicWeight',
                  'MagpieData range AtomicWeight',
                  'MagpieData mean AtomicWeight',
                  'MagpieData avg_dev AtomicWeight',
                  'MagpieData mode AtomicWeight',
                  'MagpieData minimum MeltingT',
                  'MagpieData maximum MeltingT',
                  'MagpieData range MeltingT',
                  'MagpieData mean MeltingT',
                  'MagpieData avg_dev MeltingT',
                  'MagpieData mode MeltingT',
                  'MagpieData minimum Column',
                  'MagpieData maximum Column',
                  'MagpieData range Column',
                  'MagpieData mean Column',
                  'MagpieData avg_dev Column',
                  'MagpieData mode Column',
                  'MagpieData minimum Row',
                  'MagpieData maximum Row',
                  'MagpieData range Row',
                  'MagpieData mean Row',
                  'MagpieData avg_dev Row',
                  'MagpieData mode Row',
                  'MagpieData minimum CovalentRadius',
                  'MagpieData maximum CovalentRadius',
                  'MagpieData range CovalentRadius',
                  'MagpieData mean CovalentRadius',
                  'MagpieData avg_dev CovalentRadius',
                  'MagpieData mode CovalentRadius',
                  'MagpieData minimum Electronegativity',
                  'MagpieData maximum Electronegativity',
                  'MagpieData range Electronegativity',
                  'MagpieData mean Electronegativity',
                  'MagpieData avg_dev Electronegativity',
                  'MagpieData mode Electronegativity',
                  'MagpieData minimum NsValence',
                  'MagpieData maximum NsValence',
                  'MagpieData range NsValence',
                  'MagpieData mean NsValence',
                  'MagpieData avg_dev NsValence',
                  'MagpieData mode NsValence',
                  'MagpieData minimum NpValence',
                  'MagpieData maximum NpValence',
                  'MagpieData range NpValence',
                  'MagpieData mean NpValence',
                  'MagpieData avg_dev NpValence',
                  'MagpieData mode NpValence',
                  'MagpieData minimum NdValence',
                  'MagpieData maximum NdValence',
                  'MagpieData range NdValence',
                  'MagpieData mean NdValence',
                  'MagpieData avg_dev NdValence',
                  'MagpieData mode NdValence',
                  'MagpieData minimum NfValence',
                  'MagpieData maximum NfValence',
                  'MagpieData range NfValence',
                  'MagpieData mean NfValence',
                  'MagpieData avg_dev NfValence',
                  'MagpieData mode NfValence',
                  'MagpieData minimum NValence',
                  'MagpieData maximum NValence',
                  'MagpieData range NValence',
                  'MagpieData mean NValence',
                  'MagpieData avg_dev NValence',
                  'MagpieData mode NValence',
                  'MagpieData minimum NsUnfilled',
                  'MagpieData maximum NsUnfilled',
                  'MagpieData range NsUnfilled',
                  'MagpieData mean NsUnfilled',
                  'MagpieData avg_dev NsUnfilled',
                  'MagpieData mode NsUnfilled',
                  'MagpieData minimum NpUnfilled',
                  'MagpieData maximum NpUnfilled',
                  'MagpieData range NpUnfilled',
                  'MagpieData mean NpUnfilled',
                  'MagpieData avg_dev NpUnfilled',
                  'MagpieData mode NpUnfilled',
                  'MagpieData minimum NdUnfilled',
                  'MagpieData maximum NdUnfilled',
                  'MagpieData range NdUnfilled',
                  'MagpieData mean NdUnfilled',
                  'MagpieData avg_dev NdUnfilled',
                  'MagpieData mode NdUnfilled',
                  'MagpieData minimum NfUnfilled',
                  'MagpieData maximum NfUnfilled',
                  'MagpieData range NfUnfilled',
                  'MagpieData mean NfUnfilled',
                  'MagpieData avg_dev NfUnfilled',
                  'MagpieData mode NfUnfilled',
                  'MagpieData minimum NUnfilled',
                  'MagpieData maximum NUnfilled',
                  'MagpieData range NUnfilled',
                  'MagpieData mean NUnfilled',
                  'MagpieData avg_dev NUnfilled',
                  'MagpieData mode NUnfilled',
                  'MagpieData minimum GSvolume_pa',
                  'MagpieData maximum GSvolume_pa',
                  'MagpieData range GSvolume_pa',
                  'MagpieData mean GSvolume_pa',
                  'MagpieData avg_dev GSvolume_pa',
                  'MagpieData mode GSvolume_pa',
                  'MagpieData minimum GSbandgap',
                  'MagpieData maximum GSbandgap',
                  'MagpieData range GSbandgap',
                  'MagpieData mean GSbandgap',
                  'MagpieData avg_dev GSbandgap',
                  'MagpieData mode GSbandgap',
                  'MagpieData minimum GSmagmom',
                  'MagpieData maximum GSmagmom',
                  'MagpieData range GSmagmom',
                  'MagpieData mean GSmagmom',
                  'MagpieData avg_dev GSmagmom',
                  'MagpieData mode GSmagmom',
                  'MagpieData minimum SpaceGroupNumber',
                  'MagpieData maximum SpaceGroupNumber',
                  'MagpieData range SpaceGroupNumber',
                  'MagpieData mean SpaceGroupNumber',
                  'MagpieData avg_dev SpaceGroupNumber',
                  'MagpieData mode SpaceGroupNumber',
                  'sine coulomb matrix eig 0',
                  'sine coulomb matrix eig 1',
                  'sine coulomb matrix eig 2',
                  'sine coulomb matrix eig 3',
                  'sine coulomb matrix eig 4',
                  'sine coulomb matrix eig 5',
                  'sine coulomb matrix eig 6',
                  'sine coulomb matrix eig 7',
                  'sine coulomb matrix eig 8',
                  'sine coulomb matrix eig 9',
                  'sine coulomb matrix eig 10',
                  'sine coulomb matrix eig 11',
                  'sine coulomb matrix eig 12',
                  'sine coulomb matrix eig 13',
                  'sine coulomb matrix eig 14',
                  'sine coulomb matrix eig 15',
                  'sine coulomb matrix eig 16',
                  'sine coulomb matrix eig 17',
                  'sine coulomb matrix eig 18',
                  'sine coulomb matrix eig 19',
                  'sine coulomb matrix eig 20',
                  'sine coulomb matrix eig 21',
                  'sine coulomb matrix eig 22',
                  'sine coulomb matrix eig 23',
                  'sine coulomb matrix eig 24',
                  'sine coulomb matrix eig 25',
                  'sine coulomb matrix eig 26',
                  'sine coulomb matrix eig 27',
                  'sine coulomb matrix eig 28',
                  'sine coulomb matrix eig 29',
                  'sine coulomb matrix eig 30',
                  'sine coulomb matrix eig 31',
                  'sine coulomb matrix eig 32',
                  'sine coulomb matrix eig 33',
                  'sine coulomb matrix eig 34',
                  'sine coulomb matrix eig 35',
                  'sine coulomb matrix eig 36',
                  'sine coulomb matrix eig 37',
                  'sine coulomb matrix eig 38',
                  'sine coulomb matrix eig 39',
                  'sine coulomb matrix eig 40',
                  'sine coulomb matrix eig 41',
                  'sine coulomb matrix eig 42',
                  'sine coulomb matrix eig 43',
                  'sine coulomb matrix eig 44',
                  'sine coulomb matrix eig 45',
                  'sine coulomb matrix eig 46',
                  'sine coulomb matrix eig 47',
                  'sine coulomb matrix eig 48',
                  'sine coulomb matrix eig 49',
                  'sine coulomb matrix eig 50',
                  'sine coulomb matrix eig 51',
                  'sine coulomb matrix eig 52',
                  'sine coulomb matrix eig 53',
                  'sine coulomb matrix eig 54',
                  'sine coulomb matrix eig 55',
                  'sine coulomb matrix eig 56',
                  'sine coulomb matrix eig 57',
                  'sine coulomb matrix eig 58',
                  'sine coulomb matrix eig 59',
                  'sine coulomb matrix eig 60',
                  'sine coulomb matrix eig 61',
                  'sine coulomb matrix eig 62',
                  'sine coulomb matrix eig 63',
                  'sine coulomb matrix eig 64',
                  'sine coulomb matrix eig 65',
                  'sine coulomb matrix eig 66',
                  'sine coulomb matrix eig 67',
                  'sine coulomb matrix eig 68',
                  'sine coulomb matrix eig 69',
                  'sine coulomb matrix eig 70',
                  'sine coulomb matrix eig 71',
                  'sine coulomb matrix eig 72',
                  'sine coulomb matrix eig 73',
                  'sine coulomb matrix eig 74',
                  'sine coulomb matrix eig 75',
                  'sine coulomb matrix eig 76',
                  'sine coulomb matrix eig 77',
                  'sine coulomb matrix eig 78',
                  'sine coulomb matrix eig 79',
                  'sine coulomb matrix eig 80',
                  'sine coulomb matrix eig 81',
                  'sine coulomb matrix eig 82',
                  'sine coulomb matrix eig 83',
                  'sine coulomb matrix eig 84',
                  'sine coulomb matrix eig 85',
                  'sine coulomb matrix eig 86',
                  'sine coulomb matrix eig 87',
                  'sine coulomb matrix eig 88',
                  'sine coulomb matrix eig 89',
                  'sine coulomb matrix eig 90',
                  'sine coulomb matrix eig 91',
                  'sine coulomb matrix eig 92',
                  'sine coulomb matrix eig 93',
                  'sine coulomb matrix eig 94',
                  'sine coulomb matrix eig 95',
                  'sine coulomb matrix eig 96',
                  'sine coulomb matrix eig 97',
                  'sine coulomb matrix eig 98',
                  'sine coulomb matrix eig 99',
                  'sine coulomb matrix eig 100',
                  'sine coulomb matrix eig 101',
                  'sine coulomb matrix eig 102',
                  'sine coulomb matrix eig 103',
                  'sine coulomb matrix eig 104',
                  'sine coulomb matrix eig 105',
                  'sine coulomb matrix eig 106',
                  'sine coulomb matrix eig 107',
                  'sine coulomb matrix eig 108',
                  'sine coulomb matrix eig 109',
                  'sine coulomb matrix eig 110',
                  'sine coulomb matrix eig 111',
                  'sine coulomb matrix eig 112',
                  'sine coulomb matrix eig 113',
                  'sine coulomb matrix eig 114',
                  'sine coulomb matrix eig 115',
                  'sine coulomb matrix eig 116',
                  'sine coulomb matrix eig 117',
                  'sine coulomb matrix eig 118',
                  'sine coulomb matrix eig 119',
                  'sine coulomb matrix eig 120',
                  'sine coulomb matrix eig 121',
                  'sine coulomb matrix eig 122',
                  'sine coulomb matrix eig 123',
                  'sine coulomb matrix eig 124',
                  'sine coulomb matrix eig 125',
                  'sine coulomb matrix eig 126',
                  'sine coulomb matrix eig 127',
                  'sine coulomb matrix eig 128',
                  'sine coulomb matrix eig 129',
                  'sine coulomb matrix eig 130',
                  'sine coulomb matrix eig 131',
                  'sine coulomb matrix eig 132',
                  'sine coulomb matrix eig 133',
                  'sine coulomb matrix eig 134',
                  'sine coulomb matrix eig 135',
                  'sine coulomb matrix eig 136',
                  'sine coulomb matrix eig 137',
                  'sine coulomb matrix eig 138',
                  'sine coulomb matrix eig 139',
                  'sine coulomb matrix eig 140',
                  'sine coulomb matrix eig 141',
                  'sine coulomb matrix eig 142',
                  'sine coulomb matrix eig 143',
                  'sine coulomb matrix eig 144',
                  'sine coulomb matrix eig 145',
                  'sine coulomb matrix eig 146',
                  'sine coulomb matrix eig 147',
                  'sine coulomb matrix eig 148',
                  'sine coulomb matrix eig 149',
                  'sine coulomb matrix eig 150',
                  'sine coulomb matrix eig 151',
                  'sine coulomb matrix eig 152',
                  'sine coulomb matrix eig 153',
                  'sine coulomb matrix eig 154',
                  'sine coulomb matrix eig 155',
                  'sine coulomb matrix eig 156',
                  'sine coulomb matrix eig 157',
                  'sine coulomb matrix eig 158',
                  'sine coulomb matrix eig 159',
                  'sine coulomb matrix eig 160',
                  'sine coulomb matrix eig 161',
                  'sine coulomb matrix eig 162',
                  'sine coulomb matrix eig 163',
                  'sine coulomb matrix eig 164',
                  'sine coulomb matrix eig 165',
                  'sine coulomb matrix eig 166',
                  'sine coulomb matrix eig 167',
                  'sine coulomb matrix eig 168',
                  'sine coulomb matrix eig 169',
                  'sine coulomb matrix eig 170',
                  'sine coulomb matrix eig 171',
                  'sine coulomb matrix eig 172',
                  'sine coulomb matrix eig 173',
                  'sine coulomb matrix eig 174',
                  'sine coulomb matrix eig 175',
                  'sine coulomb matrix eig 176',
                  'sine coulomb matrix eig 177',
                  'sine coulomb matrix eig 178',
                  'sine coulomb matrix eig 179',
                  'sine coulomb matrix eig 180',
                  'sine coulomb matrix eig 181',
                  'sine coulomb matrix eig 182',
                  'sine coulomb matrix eig 183',
                  'sine coulomb matrix eig 184',
                  'sine coulomb matrix eig 185',
                  'sine coulomb matrix eig 186',
                  'sine coulomb matrix eig 187',
                  'sine coulomb matrix eig 188',
                  'sine coulomb matrix eig 189',
                  'sine coulomb matrix eig 190',
                  'sine coulomb matrix eig 191',
                  'sine coulomb matrix eig 192',
                  'sine coulomb matrix eig 193',
                  'sine coulomb matrix eig 194',
                  'sine coulomb matrix eig 195',
                  'sine coulomb matrix eig 196',
                  'sine coulomb matrix eig 197',
                  'sine coulomb matrix eig 198',
                  'sine coulomb matrix eig 199',
                  'sine coulomb matrix eig 200',
                  'sine coulomb matrix eig 201',
                  'sine coulomb matrix eig 202',
                  'sine coulomb matrix eig 203',
                  'sine coulomb matrix eig 204',
                  'sine coulomb matrix eig 205',
                  'sine coulomb matrix eig 206',
                  'sine coulomb matrix eig 207',
                  'sine coulomb matrix eig 208',
                  'sine coulomb matrix eig 209',
                  'sine coulomb matrix eig 210',
                  'sine coulomb matrix eig 211',
                  'sine coulomb matrix eig 212',
                  'sine coulomb matrix eig 213',
                  'sine coulomb matrix eig 214',
                  'sine coulomb matrix eig 215',
                  'sine coulomb matrix eig 216',
                  'sine coulomb matrix eig 217',
                  'sine coulomb matrix eig 218',
                  'sine coulomb matrix eig 219',
                  'sine coulomb matrix eig 220',
                  'sine coulomb matrix eig 221',
                  'sine coulomb matrix eig 222',
                  'sine coulomb matrix eig 223',
                  'sine coulomb matrix eig 224',
                  'sine coulomb matrix eig 225',
                  'sine coulomb matrix eig 226',
                  'sine coulomb matrix eig 227',
                  'sine coulomb matrix eig 228',
                  'sine coulomb matrix eig 229',
                  'sine coulomb matrix eig 230',
                  'sine coulomb matrix eig 231',
                  'sine coulomb matrix eig 232',
                  'sine coulomb matrix eig 233',
                  'sine coulomb matrix eig 234',
                  'sine coulomb matrix eig 235',
                  'sine coulomb matrix eig 236',
                  'sine coulomb matrix eig 237',
                  'sine coulomb matrix eig 238',
                  'sine coulomb matrix eig 239',
                  'sine coulomb matrix eig 240',
                  'sine coulomb matrix eig 241',
                  'sine coulomb matrix eig 242',
                  'sine coulomb matrix eig 243',
                  'sine coulomb matrix eig 244',
                  'sine coulomb matrix eig 245',
                  'sine coulomb matrix eig 246',
                  'sine coulomb matrix eig 247',
                  'sine coulomb matrix eig 248',
                  'sine coulomb matrix eig 249',
                  'sine coulomb matrix eig 250',
                  'sine coulomb matrix eig 251',
                  'sine coulomb matrix eig 252',
                  'sine coulomb matrix eig 253',
                  'sine coulomb matrix eig 254',
                  'sine coulomb matrix eig 255',
                  'sine coulomb matrix eig 256',
                  'sine coulomb matrix eig 257',
                  'sine coulomb matrix eig 258',
                  'sine coulomb matrix eig 259',
                  'sine coulomb matrix eig 260',
                  'sine coulomb matrix eig 261',
                  'sine coulomb matrix eig 262',
                  'sine coulomb matrix eig 263',
                  'sine coulomb matrix eig 264',
                  'sine coulomb matrix eig 265',
                  'sine coulomb matrix eig 266',
                  'sine coulomb matrix eig 267',
                  'sine coulomb matrix eig 268',
                  'sine coulomb matrix eig 269',
                  'sine coulomb matrix eig 270',
                  'sine coulomb matrix eig 271',
                  'sine coulomb matrix eig 272',
                  'sine coulomb matrix eig 273',
                  'sine coulomb matrix eig 274',
                  'sine coulomb matrix eig 275',
                  'sine coulomb matrix eig 276',
                  'sine coulomb matrix eig 277',
                  'sine coulomb matrix eig 278',
                  'sine coulomb matrix eig 279',
                  'sine coulomb matrix eig 280',
                  'sine coulomb matrix eig 281',
                  'sine coulomb matrix eig 282',
                  'sine coulomb matrix eig 283',
                  'sine coulomb matrix eig 284',
                  'sine coulomb matrix eig 285',
                  'sine coulomb matrix eig 286',
                  'sine coulomb matrix eig 287'],
 'learner_kwargs': {'n_estimators': 500},
 'learner_name': 'rf',
 'reducer_kwargs': {'reducers': []}}
